<!DOCTYPE html PUBLIC>
<html><head><title>home.ejs</title>

</head>

<body>



<% if (!user) { %>
	<p>Welcome! Please <a href="login">log in</a>.</p>
	<br><br>
	<p>Or,<a Sign up href="/signup"></a>.</p>
	
<% } else { %>
	
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>

<% } %>


<div class="container">
    <a href="/" class="lang-logo">
      
      <img src="/banner.jpg">
          
    </a>  
</div>

</body></html>
