<!DOCTYPE html PUBLIC>
<html><head><title>home.ejs</title>

</head>

<body>



<% if (!user) { %>
	<p>Welcome to Bilal's, Brendan's and Chris's Clothing Emporium! Please <a href="login">log in</a>:</p>
	<p>欢迎您</p>
	<br>
	<p>Or, <a href="/signup">Sign up</a>:</p>
	<br>
	<img src="/sale.jpg">


	
<% } else { %>
	
	<p>Hello <%= user.displayName %>. View your <a href="/profile">profile</a>.</p>

	<br>

	<a href="/goShopping">View Catalogue:</a><br>
	 
	<br><br>

	<a href="/logout/facebook">Log Out:</a>

	<br>
	<img src="/busy.jpg">
	<br>


<% } %>



<br><br>

<!--
<div class="container">
    <a href="/" class="lang-logo">
      
      <img src="/banner.jpg">
          
    </a>  
</div>
-->
<br>



</body></html>
