<!DOCTYPE html PUBLIC>
<html><head><title>Group6</title>

</head>

<body>

<p>Welcome to Bilal's, Brendan's and Chris's Clothing Emporium</p> 

<div class="container">
    <a href="/" class="lang-logo">
      
      <img src="/banner.jpg">
          
    </a>
    
    <p>Name: <%= user.displayName %><p/>

</div>

<div class="container1">
	<a href='/'>
		<img src="/image1.jpeg">
	</a>
</div>

<br>


<div class="container2">
	<a href='/app/public/images'>
		<img src="/bb5.jpg">
	</a>
</div>

</body></html>