<!DOCTYPE html PUBLIC>
<html><head><title>Group6</title>






</head>


<body>

	
<div class="container">
    <a href="/" class="lang-logo">
      <!--<img src="/lang-logo.png">-->
      <img src="/gb.jpg">
      
      
    </a>
    
    <p>Name: <%= user.displayName %><p/>

  </div>

 <p>First Paragraph</p> 
 <img src="https://salty-coast-14663.herokuapp.com/views/pages/banner.jpg">

</body></html>