<!DOCTYPE html PUBLIC>
<html><head><title>Group6</title>

</head>

<body>

<p>Hi <%= user.displayName%>. Welcome to Bilal's, Brendan's and Chris's Clothing Emporium</p> 

<br>

<a href="/logout/facebook">Log Out with Facebook</a>

<br>

<div class="container">
    <a href="/" class="lang-logo">
      
      <img src="/banner.jpg">
          
    </a>
    
    <p>Name: <%= user.displayName %><p/>
<br>
<a href="/cart">Goto Cart</a>
<br>
</div>
	
<img src="/images/baby.jpg">
<img src="/images/1.jpg">
<img src="/Dagg.jpg">
<img src="/images/d4.jpg">


<br>


<img src="/images/banner1.jpg">

</body></html>