<!DOCTYPE html PUBLIC>
<html><head><title>index.ejs</title>

</head>

<body>

<p>Hi <%= user.displayName%>. Welcome to Bilal's, Brendan's and Chris's Clothing Emporium</p> 

<br>

<a href="/goShopping">View Catalogue:</a>

<br><br>

<a href="/logout/facebook">Log Out:</a>

<br><br>

<div class="container">
    <a href="/" class="lang-logo">
      
      <img src="/banner.jpg">
    </a>
</div>
<!--<img src="/images/baby.jpg">-->
<br>

</body></html>
<!-- https://help.github.com/articles/caching-your-github-password-in-git/ -->