<!DOCTYPE html PUBLIC>
<html><head><title>Group6</title>

</head>

<body>

<p><%= user.displayName %> Welcome to Bilal's, Brendan's and Chris's Clothing Emporium</p> 

<div class="container">
    <a href="/" class="lang-logo">
      
      <img src="/banner.jpg">
          
    </a>
    
    <p>Name: <%= user.displayName %><p/>

</div>
	
<img src="/images/baby.jpg">
<br>

<img src="/images/banner1.jpg">

</body></html>