<!DOCTYPE html>
<html>
<title>nwen304group6</title>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <!--<img src="/lang-logo.png">-->
      <img src="/gb.jpg">
      
      
    </a>
    
    <p>Name: <%= user.displayName %><p/>

  </div>
</div>
<div class="container">
  
  <hr>
  <div class="row">
    
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
      
        <li><a href="https://salty-coast-14663.herokuapp.com/gb.jpg">GhostBusters</a></li>
        
      </ul>
    </div>
  </div> <!-- row -->
  
</div>


</body>
</html>
