<!DOCTYPE html PUBLIC>
<html>
<head>
<title>Group6</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<script>
$(document).ready(function(){
    $("button").click(function(){
    	$("p").hide();

        $.post('/signup', { username: "micky",
     						email: "a@b.com",
     						password: "monkey133"},
     		function(data, status){
     		}
     	);


     });
});
</script>

<script>
$(document).ready(function(){
    $("button1").click(function(){
    	$("p2").hide();

        $.post('/signup', { username: $("l2").text(username),
     						email: $("l2").text(email),
     						password: $("l2").(password)},
     		function(data, status){
     		}
     	);


     });
});
</script>
</head>

<body>

<button id="button">Click</button>
<p>hide me</p>


<form>
  Email:<br>
  <input type="email" name="email">
  <br>
  <br>
  Password:<br>
  <input type="password" name="password">

  <br><br>
  <input type="submit" value="Submit">
</form>


<form class="form" id="l2" method="post" action="/signup">
<h2>Create Login Form Using jQuery</h2>
<label>Username :</label>
<input type="text" name="username" id="username">
<label>Password :</label>
<input type="password" name="password" id="password">
<label>Email :</label>
<input type="email" name="email" id="email">
<input type="submit" value="Submit">
</form>
<br>
<button id="button1">Submit</button>
<p2>para2</p2>

</body></html>