<!DOCTYPE html PUBLIC>
<html>
<head>
<title>local.ejs</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>





</head>

<body>

    <br>
    <p>Login without Facebook</p>

<form action="/login" method="post">
    <div>
        <br>
        <label>Email:</label><br>
        <input type="email" name="email"/>
    </div>
    <br>
    <div>
        <label>Password:</label><br>
        <input type="password" name="password"/>
    </div>
    <div>
        <br>
        <input type="submit" value="Log In"/>
    </div>
</form>

<br><br><br><br><br><br><br><br><br>




</body></html>