<!DOCTYPE html PUBLIC>
<html>
<head>
<title>Group6</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 

<script>
$(document).ready(function(){
    $("button").click(function(){
    	$("p").hide();

        $.post('/signup', { username: "micky",
     						email: "a@b.com",
     						password: "monkey123"},
     		function(data, status){
     		}
     	);


     });
});
</script>
</head>

<body>

<button id="button">Click</button>
<p>hide me</p>


<form>
  Email:<br>
  <input type="email" name="email">
  <br>
  <br>
  Password:<br>
  <input type="password" name="password">

  <br><br>
  <input type="submit" value="Submit">
</form>






</body></html>