<!DOCTYPE html PUBLIC>
<html><head><title>Group6</title>

</head>

<body>

<form>
  Username:
  <input type="text" name="username">
  <br>
  <br>
  Password:
  <input type="password" name="password">

  <br><br>
  <input type="submit" value="Submit">
</form>






</body></html>