<!DOCTYPE html PUBLIC>
<html>
<head>
<title>Group6</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>





</head>

<body>

<form action="/login" method="post">
    <div>
        <label>Email:</label>
        <input type="email" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

<br><br><br><br><br><br><br><br><br>




</body></html>