<!DOCTYPE html PUBLIC>
<html>
<head>
<title>local.ejs</title>

</head>

<body>

<br>
<p>Login without Facebook</p>

<form action="/loginnew" method="post">
    <lable>Username</lable><br>
    <input type="text" id="username" name="username"><br>
    <lable>Password</lable><br>
    <input type="password" id="password" name="password">
    <br>
    <button type="submit">Submit</button>
</form>



</body></html>