<!DOCTYPE html PUBLIC>
<html><head><title>Group6</title>

</head>

<body>

<a href="/login/facebook">Log In with Facebook</a>

<br>


<a href="/login/local">Log In without Facebook</a>


</body></html>