<!DOCTYPE html PUBLIC>
<html><head><title>mismatch.ejs</title>

</head>

<body>



<br><br>

<a href="/signup">Your passwords don't match. Click to try again</a>

<br>
<img src="/homer.jpg">



</body></html>