<!DOCTYPE html PUBLIC>
<html><head><title>signup.ejs</title>

</head>

<body>


<br>

<p>Shopping Emporium Sign up page</p>

<br>
<form action="/signup" method="post">
    <div>
        <label>Email:</label><br>
        <input type="email" name="email"/>
    </div>
    <br>
    <div>
        <label>Password:</label><br>
        <input type="password" name="password"/>
    </div>
    <br>
    <div>
        <label>Re-enter Password:</label><br>
        <input type="password" name="password1"/>
    </div>
    <br>
    <div>
        <label>Username:</label><br>
        <input type="text" name="username"/>
    </div>
    <br>
    <div>
        <input type="submit" value="Sign Up"/>
    </div>
</form>



</body></html>